/* hex blue for logo - 57B7F2 */


.App {
  text-align: center;
  
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.navbar {
  display:flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  padding: 1rem 1rem;
}
.fix-header {
  position: sticky;
  background-color: transparent;
}

.fix-header.active{
  background-color: #fff;
}

#nav-logo {
  height: 35px;
  width: 35px;
  padding-right: 7px;
}
.buttons {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
#login-button {
  color: #0065ff;
  font-weight: 400;
}
#login-button:hover {
  color: #0051cc;
  text-decoration: underline;
}
.blue-button {
  color: #fff;
  background-color: #0065ff;
  border-radius: 0.2rem;
}
.blue-button:hover {
  background-color: #0051cc;
}
.signup-login-form {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.signup-login-header{
  text-align: center;
  color: #5E6C84;
  font-size: 1rem;
  margin-top: 25px 0px;
  margin-bottom: 25px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  border-radius: 3px;
  padding: 7px;
  height: 26px;
  max-width: 302px;
  margin-bottom: 1rem;
  width: 100%;
}
.error-div {
  border: 2px solid #ff4c4c;
  background-color: #ff9999;
  border-radius: 3px;
  max-width: 250px;
  margin: auto;
  margin-bottom: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.active-login-signup-button {
  width: 65%;
  background-color: #5AAC44;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.active-login-signup-button:hover {
  background-color: #61BD4F;
}
.line-separator {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 14px;
  width: 65%;
}
.help-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#help-signup-link {
  text-decoration: underline;
  color: #0645AD;
  margin-right: 10px;
}
#help-password-link {
  text-decoration: underline;
  color: #0645AD ;
  margin-left: 10px;
}
.login-big-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#image-big {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}
.image-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: auto 0;
}
.container {
  margin-top: 20px;
}
.dash-nav {
  display: flex;
  background-color: #0645AD;
    color: #fff;
  align-items: center;
  justify-content: flex-start;
}
.image-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: .85rem;
}
.image-container img {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
#board-search {
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: whitesmoke;
  opacity: 0.9;
}
#board-search:hover {
  opacity: 1;
}
.search-field {
  margin-right: 15px;
}
.account-notification {
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories { 
  display:flex;
  margin-right: 20px;
  justify-self: flex-end;
}
.categories a {
  padding: 3px;
  border: 1px solid transparent;
  margin: 0px auto;
}
.categories a:hover {
  border: 1px solid white;
  padding: 3px;
  background-color: #6082b6; 
  border-radius: 4px;
}
.project-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 50px 50px;
}
.project-card{
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent; 
  border-radius: 4px;
  background: rgb(20,23,210);
  background: linear-gradient(0deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#new-project {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#new-project:hover {
  border: 1px solid black;
}
.project-form input{
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 3px;
  margin-bottom: 12px;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.new-project-form {
  background-color: #0065ff;
  padding: 10px 20px;
  max-width: 300px;
  border-radius: 4px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-board-lists{
  display: flex;
  flex-direction: row;
}
.drag-drop-container {
  display: flex;
  width: 85vw;
  justify-content: center;
  margin: 0 auto;
  gap: 3.5rem;
}
.droppable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: 75vh;
}
.droppable {
  align-items: center;
  min-height: 100%;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.draggable-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  align-items: center;
}
.draggable {
  color: #0065ff;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.task-buttons {
  border: 2px solid transparent;
  border-radius: 3px;
  size: 4px;
  background-color:#0051cc;
  color: white;
}
.task-form input{
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: eggwhite;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.nav-left p {
  font-weight: 500;
  margin: auto;
  font-size:  1.5rem;
}

#home-email {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}
.homepage-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  
}
.homepage-text p {
  font-size: 1.2rem;
  margin-left: 4rem;
}
.homepage-text h2 {
  font-size: 2.6rem;
  margin-left: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#home-art {
  margin-right: 4rem;
}
#home-signup-button {
  padding: .4rem 2rem;
  font-weight: bold;
}
