/* hex blue for logo - 57B7F2 */


.App {
  text-align: center;
  
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.navbar {
  display:flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  padding: 1rem 1rem;
}
.fix-header {
  position: sticky;
  background-color: transparent;
}

.fix-header.active{
  background-color: #fff;
}

#nav-logo {
  height: 25px;
  width: 25px;
  padding-right: 7px;
}
.buttons {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
#login-button {
  color: #0065ff;
  font-weight: 400;
}
#login-button:hover {
  color: #0051cc;
  text-decoration: underline;
}
#signup-button {
  color: #fff;
  background-color: #0065ff;
  border-radius: 0.2rem;
}
#signup-button:hover {
  background-color: #0051cc;
}
.signup-login-form {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.signup-login-header{
  text-align: center;
  color: #5E6C84;
  font-size: 1rem;
  margin-top: 25px 0px;
  margin-bottom: 25px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  border-radius: 3px;
  padding: 7px;
  height: 26px;
  max-width: 302px;
  margin-bottom: 1rem;
  width: 100%;
}
.error-div {
  border: 2px solid #ff4c4c;
  background-color: #ff9999;
  border-radius: 3px;
  max-width: 250px;
  margin: auto;
  margin-bottom: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.active-login-signup-button {
  width: 65%;
  background-color: #5AAC44;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.active-login-signup-button:hover {
  background-color: #61BD4F;
}
.line-separator {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 14px;
  width: 65%;
}
.help-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#help-signup-link {
  text-decoration: underline;
  color: #0645AD;
  margin-right: 10px;
}
#help-password-link {
  text-decoration: underline;
  color: #0645AD ;
  margin-left: 10px;
}
.login-big-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#image-big {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}
.image-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: auto 0;
}
.container {
  margin-top: 20px;
}
.dash-nav {
  display: flex;
  background-color: #0645AD;
    color: #fff;
  align-items: center;
}
.image-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: .85rem;
}
.image-container img {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
#board-search {
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: whitesmoke;
  opacity: 0.9;
}
#board-search:hover {
  opacity: 1;
}
.search-field {
  margin-right: 15px;
}
.account-notification {
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories { 
  display:flex;
  width: 325px;
  justify-content: space-between;
  margin-right: 100px;
}
.categories a {
  padding: 3px;
  border: 1px solid transparent;
  margin: 0px auto;
}
.categories a:hover {
  border: 1px solid white;
  padding: 3px;
  background-color: #6082b6; 
  border-radius: 4px;
}